---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<h1>About</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
    mauris nec nunc ultricies tincidunt. Nullam nec mauris nec nunc ultr
    icies tincidunt. Nullam nec maur is nec nunc ultricies tincidunt.
	</p>
</Layout>
