---
import Container from "@components/base/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
  <Container>
    <h1 class="text-4xl text-primary font-bold mb-4">About page</h1>

    <p class="mb-6">
      This is the about page. It's a simple page to demonstrate how Astro works.
    </p>
  </Container>
</Layout>
