---
import Container from "@/components/base/Container.astro";
import Layout from "@layouts/Layout.astro";
import { loadQuery } from "@sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";

export const prerender = false;

const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"]{
    title,
    slug
  }`,
});
---

<Layout title="Blog Overview">
  <Container>
    <h1 class="text-4xl text-primary font-bold mb-4">Blog Overview</h1>

    <p class="mb-6">Browse through all the latest posts below.</p>

    <div class="flex flex-wrap gap-4">
      {
        posts.map((post) => (
          <a
            href={`/post/${post.slug.current}`}
            class="bg-gray-100 px-4 py-2 rounded-full text-black"
          >
            {post.title}
          </a>
        ))
      }
    </div>
  </Container>
</Layout>
