---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "@sanity/lib/load-query";
import Layout from "@layouts/Layout.astro";
import PortableText from "@components/logic/PortableText.astro";
import Container from "@/components/base/Container.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery<{ title: string; body: any[] }>({
  query: `*[_type == "post" && slug.current == $slug][0]`,
  params,
});
---

<Layout title={post.title}>
  <Container>
    <h1 class="text-4xl text-primary font-bold mb-4">A post about {post.title}</h1>

    <PortableText portableText={post.body} />
  </Container>
</Layout>